@import "tzm-news-widget.less";

.border() {
  border: 1px solid #f0f0f0;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .005);
}

.tzm-news {

  // --------------------------
  //   General Styles
  // --------------------------
  &-container {
    color: @defaultColour;
    font-family: @defaultFont;
    background-color: @defaultBackgroundColour;

    padding: 15px;
    //border: 1px solid lighten(@defaultColour, 20%);
    //border-radius: 6px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;


    p {
      color: @defaultColour;
      font-family: @defaultFont;
    }

    p.tzm-news-info {
      .info();
    }


    a {
      color: darken(@defaultColour, 20%);
      text-decoration: none;

      &:hover {
        color: darken(@defaultColour, 40%);
        text-decoration: underline;
      }
      a:visited {
        color: lighten(@defaultColour, 15%);
      }
    }

    button {
      cursor: pointer;
      color: darken(@defaultPaginationColour, 20%);
      font-weight: bold;
      background: @defaultBackgroundColour;
      border: none;
      color: lighten(@defaultPaginationColour, 10%);

      &:hover {
        color: darken(@defaultPaginationColour, 15%);
      }
    }

    @media (min-width: 576px) {
      & {
        max-width: 540px
      }
    }

    @media (min-width: 768px) {
      & {
        max-width: 720px
      }
    }

    @media (min-width: 992px) {
      & {
        max-width: 960px
      }
    }

    @media (min-width: 1200px) {
      & {
        max-width: 1140px
      }
    }
  }

  &-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
  }


  // --------------------------
  //   Notices
  // --------------------------
  &-error {
    color: darkred;
  }

  &-warning {
    color: orange;
  }

  .info() {
    color: @defaultPaginationColour;

    a, a:visited {
      color: lighten(@defaultPaginationColour, 10%);
    }
    a:hover {
      color: darken(@defaultPaginationColour, 15%);
    }
  }

  &-info {
    .info();
  }


  // --------------------------
  //   Pagination
  // --------------------------
  &-pagination {
    .info();

    &-pre {
      //padding-bottom: 1em;
    }

    &-post {
      //padding-top: 1em;
    }
  }


  // --------------------------
  //   Posts
  // --------------------------
  &-posts-container {
    //padding-top: 1rem;
    //padding-bottom: 1rem;
  }

  &-post {
    .border();
    margin: 1em 0;
    padding: 0.5em;
  }

  &-header {
    font-weight: bold;
  }

  &-item-number {
    color: #666666;
  }


  &-day-news-link {
    color: darken(@defaultColour, 10%);
    text-decoration: none;

    &:hover {
      color: darken(@defaultColour, 20%);
      text-decoration: underline;
    }
  }
}