.tzm-news-container {
  color: #555;
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 10px;
}
.tzm-news-header {
  font-weight: bold;
}
.tzm-news-day-news-link {
  color: #3b3b3b;
  text-decoration: none;
}
.tzm-news-day-news-link:hover {
  color: #222222;
  text-decoration: underline;
}
.tzm-news-error {
  color: darkred;
}
.tzm-news-notice {
  color: lightgrey;
}
.tzm-news-notice a {
  color: grey;
}
.tzm-news-item-number {
  color: #888888;
}
.tzm-news-pagination-pre {
  padding-bottom: 1em;
}
/*# sourceMappingURL=tzm-news-widget-minimal.css.map */