.tzm-news-widget {
  color: #555;
  font-family: Arial, sans-serif;
  background-color: white;
}
.tzm-news-widget p {
  color: #555;
  font-family: Arial, sans-serif;
}
.tzm-news-widget p.tzm-news-info {
  color: #517393;
}
.tzm-news-widget p.tzm-news-info a,
.tzm-news-widget p.tzm-news-info a:visited {
  color: #3c546c;
}
.tzm-news-widget p.tzm-news-info a:hover {
  color: #33475b;
}
.tzm-news-widget a {
  color: #222222;
  text-decoration: none;
}
.tzm-news-widget a:hover {
  color: #000000;
  text-decoration: underline;
}
.tzm-news-container {
  color: #555;
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 15px;
  border: 1px solid #888888;
  border-radius: 6px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .tzm-news-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .tzm-news-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .tzm-news-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .tzm-news-container {
    max-width: 1140px;
  }
}
.tzm-news-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.tzm-news-error {
  color: darkred;
}
.tzm-news-warning {
  color: orange;
}
.tzm-news-info {
  color: #517393;
}
.tzm-news-info a,
.tzm-news-info a:visited {
  color: #3c546c;
}
.tzm-news-info a:hover {
  color: #33475b;
}
.tzm-news-pagination {
  color: #517393;
}
.tzm-news-pagination a,
.tzm-news-pagination a:visited {
  color: #3c546c;
}
.tzm-news-pagination a:hover {
  color: #33475b;
}
.tzm-news-pagination-pre {
  padding-bottom: 1em;
}
.tzm-news-pagination-post {
  padding-top: 1em;
}
.tzm-news-posts-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #a2a2a2;
  border-bottom: 2px solid #a2a2a2;
}
.tzm-news-header {
  font-weight: bold;
}
.tzm-news-item-number {
  color: #666666;
}
.tzm-news-day-news-link {
  color: #3b3b3b;
  text-decoration: none;
}
.tzm-news-day-news-link:hover {
  color: #222222;
  text-decoration: underline;
}
/*# sourceMappingURL=tzm-news-widget-clean.css.map */