@import "tzm-news-widget.less";

.tzm-news {

  // --------------------------
  //   General Styles
  // --------------------------
  &-widget {
    color: @defaultColour;
    font-family: @defaultFont;
    background-color: @defaultBackgroundColour;

    p {
      color: @defaultColour;
      font-family: @defaultFont;
    }

    p.tzm-news-info {
      .info();
    }


    a {
      color: darken(@defaultColour, 20%);
      text-decoration: none;

      &:hover {
        color: darken(@defaultColour, 40%);
        text-decoration: underline;
      }
    }
  }


  &-container {
    color: @defaultColour;
    font-family: @defaultFont;
    background-color: @defaultBackgroundColour;

    padding: 15px;
    border: 1px solid lighten(@defaultColour, 20%);
    border-radius: 6px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      & {
        max-width: 540px
      }
    }

    @media (min-width: 768px) {
      & {
        max-width: 720px
      }
    }

    @media (min-width: 992px) {
      & {
        max-width: 960px
      }
    }

    @media (min-width: 1200px) {
      & {
        max-width: 1140px
      }
    }
  }

  &-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
  }


  // --------------------------
  //   Notices
  // --------------------------
  &-error {
    color: darkred;
  }

  &-warning {
    color: orange;
  }

  .info() {
    color: #517393;

    a, a:visited {
      color: #3c546c;
    }
    a:hover {
      color: darken(#4e6e8c, 15%);
    }
  }

  &-info {
    .info();
  }


  // --------------------------
  //   Pagination
  // --------------------------
  &-pagination {
    .info();
    &-pre {
      padding-bottom: 1em;
    }

    &-post {
      padding-top: 1em;
    }
  }





  // --------------------------
  //   Posts
  // --------------------------
  &-posts-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid lighten(@defaultColour, 30%);
    border-bottom: 2px solid lighten(@defaultColour, 30%);
  }

  &-header {
    font-weight: bold;
  }

  &-item-number {
    color: #666666;
  }


  &-day-news-link {
    color: darken(@defaultColour, 10%);
    text-decoration: none;

    &:hover {
      color: darken(@defaultColour, 20%);
      text-decoration: underline;
    }
  }
}