@import "tzm-news-widget.less";
.tzm-news {

  &-container{
    color: @defaultColour;
    font-family: @defaultFont;
    background-color: @defaultBackgroundColour;
    padding: 10px;
  }
  &-header {
    font-weight: bold;
  }

  &-day-news-link {
    color: darken(@defaultColour, 10%);
    text-decoration: none;

    &:hover {
      color: darken(@defaultColour, 20%);
      text-decoration: underline;
    }
  }
  &-error {
    color: darkred;
  }
  &-notice {
    color: lightgrey;
    a {
      color: grey;
    }
  }

  &-item-number {
    color: lighten(@defaultColour, 20%);
  }
  &-pagination-pre {
    padding-bottom: 1em;
  }
}